# Node.js and Python artifacts
node_modules/
*.pyc
__pycache__/

# Model and large files
tfjs_model/*
!.gitkeep
model/data
model/*.keras
model/*.txt
model/aek/venv
model/aek/convert.py
model/aek/model.h5
model/images

# OS/IDE files
.DS_Store
.vscode/

# APIs
model/.kaggle

# Misc
outlines/